<html>
    <body>
        <p>Hi <?= $name ?>,</p>
        <p>du hast einen neuen Job im System angelegt: '<?= $jobtitle ?>'</p>
        <p>Unter diesem Link kannst du einfach den Job ändern und löschen</p>
        <p><a href="http://jobborse.netrusticos.com/jobs/directaccess/<?= $token ?>">Job zeigen</a></p>
        <p><a href="localhost/jobs/directaccess/<?= $token ?>">Job zeigen</a></p>

        <p>Grüß,</p>
        <p>Jobbörse System =)</p>
    </body>
</html>